# Basic Python

In [ ]:
'''
# Targets:
# 1) Function -- lambda Function -- Iterators and Generators --- Exception Handling

# 2) OOPS - Classes,Object,Method.Inhertaince,Polymorphism,Data Abstraction,Encapsuation (PRACTIISE IMP)

# IMP Topics in Python: 
MYSQL(3)
MONGODB(3)
API(2)
Projects:- 
Review Scrapper
Image Scrapper

'''

In [1]:
print("Hello World")

Hello World

In [2]:
# Comment Python: THere are those lines which are ignore by the python interpretator.
 
# is used for Single line Comment
""" Multiline comment  """

' Multiline comment  '

In [3]:
# Escape Sequence Character

# \n :- It is new line character
# \t :- It gives space / Space Character

In [4]:
# Data Types

# 1)  int :- Integer numbers (2,4,56,76)
# 2)  float :- decimal numbers (2.3,4.56,7.89)
# 3)  string :- a,b,c they aare also declare in ""
a=5
print(type(a))
b=6.9
print(type(b))
c="Saurabh"
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [3]:
# User Input

print("Enter your number : ")
num = input()
print("Entered number is : ",num)

Enter your number :
10
Entered number is :  10

In [6]:
# Addition of two numbers:
print("ENter 1st Number : ")
n1 = input()
print("Enter 2nd Number : ")
n2 = input()
sum = int(n1) + int(n2)
print("Sum is :",sum)

ENter 1st Number :
5
Enter 2nd Number :
2
Sum is : 7

# String Slicing

In [7]:
str = "Saurabh"

print(str[4])   
print(str[0:7])
print(str[0:7:2])  # Here last index is skip index value 2 means skip by 1
print(str[-5:-3])  # Negative slicing counts the index from backside of the string and it starts with 1,2,3,..

a
Saurabh
Suah
ur

# String Functions

In [5]:
mystr = "Saurabh studies in MIT College"
print(mystr.__len__())                   #Returns the Length of character
print(mystr.lower())                     #Returns True if all characters in the string are lower
print(mystr.upper())                     #Returns string in the Upper case from
print(mystr.capitalize())                #Converts the first chacarter is the capital form
#print(mystr.count())                  #Returns the number of times a specified value occurs in a string
print(mystr.endswith('s'))               #Returns true if the string ends with the specified value
print(mystr.isalnum())                   #Returns True if all characters in the string are alphanumeric
print(mystr.isalpha())                   #Returns True if all characters in the string are in the alphabet
print(mystr.isdecimal())                 #Returns True if all characters in the string are decimals
print(mystr.isdigit())                  #Returns True if all characters in the string are digits

30
saurabh studies in mit college
SAURABH STUDIES IN MIT COLLEGE
Saurabh studies in mit college
False
False
False
False
False

# Data Structures

In [12]:
# In time complexity order of n  always ignores constant number
# like if we use 2 for loops
# for():      #Its order of n is O(n)

# for():      #Similarly For this for O(n)

# Then total is o(n)+o(n)=2[O(n)] Then here 2 will be ingnore 

# 1) list 2)Tuple 3) Dictionary 4) Set



# Big O notation: It is used to measure how running time or space requirements for your program grow as input size grows
# As the input size grows the run time grows

## 1) Lists

In [13]:
# Python list are containers used to store a list of values of any data type.
# Lists can cotain various types of data types lie int,float, str etc...
# VIMP : They are ordered/indexing and they are mutable/changeable and it also allows Duplicate values
list1 = ['saurabh','raj', 330,7.5 ]
list1

['saurabh', 'raj', 330, 7.5]

In [14]:
# List Methods

l1=[1,8,4,3,15,20,25,89,65]       #l1 is a list
print(l1)

l1.sort()                 #It will all arrange in the asscending order
print(l1)                 #l1 after sorting
l1.reverse()              #It will reverse the string
print(l1)                 #l1 after reversing all elements
print(min(l1))            #It will show the minimum number in the list
print(max(l1))            #It will show the maximum number in the list


list1  =  [1,2,3,6,5,4]             #list1 is a list
list1.append(7)                     #This will add 7 in the last of list
print(list1)
list1.insert(3,8)                   #This will add 8 at 3 index in list
print(list1)
list1.remove(1)                     #This will remove 1 from the list
list1.pop(2)                        #This will delete and return index 2 value.
list1.count(1)                       #This return the count of number that passed through the argument
#list1,copy()                        #This will return a c#TUPLES IN PYTHON

l2 = [3,4,7,8,606,70]
print(7 in l2)  
# Here the output is TRUE means it is searching for value 7 in l2 list

[1, 8, 4, 3, 15, 20, 25, 89, 65]
[1, 3, 4, 8, 15, 20, 25, 65, 89]
[89, 65, 25, 20, 15, 8, 4, 3, 1]
1
89
[1, 2, 3, 6, 5, 4, 7]
[1, 2, 3, 8, 6, 5, 4, 7]
True

## 2) Tuple

In [15]:
# Tuple: ordered,allow duplicate value,It is not changeble/immmutable 
# It is denoted by ()
# Mutable means(can change ) and Immutable means(cannot change )
# Tuple once defined can’t be changed i.e. its elements or values can’t be altered or manipulated.

t1=(2,4,6,8)
t1
t2 =(2) 
t2
t3 = (2,)       # To create the tuple of 1 element it is necesary to put comma after one element otherwise it does not consider as tupple
t3

(2,)

## 3) Dictionary

In [16]:
# Dictionaries :- They are ordered, changeable and does  not allow duplicates and denoted by {}
# Dictionaries are made on Key - Value Pairs
d1 = {"a":5,
     "b":10}
print(d1)

#Dictionary in dictionary example
d3 = {"Shubham":{"B":"maggie", "L":"roti", "D":"Chicken"}}
print(d3["Shubham"])
print(d3["Shubham"]['B'])

d2 = {"Jack":"Dog","Kitu":"Kitten"}
print(d2)

#To delete item from the lis or dictionary
del d2["Kitu"]
print(d2)

#TO add the item in the dictionary
d2.update({"Bob":"JermanShefard"})
print(d2)


print(d2.keys())
print(d2.values())

{'a': 5, 'b': 10}
{'B': 'maggie', 'L': 'roti', 'D': 'Chicken'}
maggie
{'Jack': 'Dog', 'Kitu': 'Kitten'}
{'Jack': 'Dog'}
{'Jack': 'Dog', 'Bob': 'JermanShefard'}
dict_keys(['Jack', 'Bob'])
dict_values(['Dog', 'JermanShefard'])

## 4)Sets

In [17]:
# A set is a data structure, having unordered, unique, and unindexed elements.”
s = set()
print(type(s))

<class 'set'>

In [18]:
s1 = set([2,4,6,8])
print(s1)

s1.add(1)
print(s1)

s1.add(2)
print(s1)

# Hence in Sets....repetation of the elements are not allowed

print(len(s1))
print(min(s1))
print(max(s1))
s1.remove(2)
print(s1)

{8, 2, 4, 6}
{1, 2, 4, 6, 8}
{1, 2, 4, 6, 8}
5
1
8
{1, 4, 6, 8}

## Conditional Statements

In [19]:
print("Enter a:")
a = input()
print("Enter b:")
b = input()
if a>b:
    print('A is greater')
elif b>a:
    print('B is greater')
else:
    print('Both are equal')

Enter a:
6
Enter b:
6
Both are equal

## Loops

In [20]:
#1) For loop

list = [10,20,30,40,50,60]
for i in list:
    print(i)
    
for i in range(0,3):
    if i == 4:
        print('THis is the fourth value')
print("Hello")

10
20
30
40
50
60
Hello

In [1]:
# Writing if else in one statement
a = int(input("enter a\n"))
b = int(input("enter b\n"))

print("A is greater than B") if a>b else print("B is greater than A")

enter a
5
enter b
9
B is greater than A

In [21]:
#2) While Loop

In [22]:
#3) Do While loop

### Break and Continue

In [23]:
while(True):
    inp = int(input("Enter a Number\n"))
    if inp>100:
        print("Congrats you have entered a number greater than 100\n")
        break
    else:
        print("Try again!\n")
        continue

Enter a Number
102
Congrats you have entered a number greater than 100

# Operators

### 1) Arithmetic operator

In [24]:
print("5 + 6 is ", 5+6)
print("5 - 6 is ", 5-6)
print("5 * 6 is ", 5*6)
print("5 / 6 is ", 5/6)
print("5 ** 3 is ", 5**3)                    # ** operator is exponential operator It means 5 raised to power 3 answer will be displayed
print("5 % 5 is ", 5%5)                      # % modulus operator will give us the remainder as a answer
print("15 // 6 is ", 15//6)

5 + 6 is  11
5 - 6 is  -1
5 * 6 is  30
5 / 6 is  0.8333333333333334
5 ** 3 is  125
5 % 5 is  0
15 // 6 is  2

### 2) Assignment Operator

In [26]:
x = 5
print(x)
x += 7                   #It will add 7 to the value of x
print(x)
x -= 7                   #It will subtract 7 from  the value of x
print(x)
x /= 7                   #It will divide 7 with the value of x
print(x)
x %=7 # x = x%7
print(x)

5
12
5
0.7142857142857143
0.7142857142857143

### 3) Comparision Operator

In [ ]:
#comparison operators include ==, >, < , >=,etc
i = 5
print(i == 5)     #Output will be True
print(i != 5)     #Output will be False
print(i > 5)     #Output will be False
print(i >= 5)     #Output will be True
print(i < 5)     #Output will be False
print(i <= 5)     #Output will be True

### 4) Logical Operator

In [ ]:
# Logical operators perform logical AND(t t = t), OR(f f =f) and NOT, operations.
a = True
b = False

print(a and a)             #Outuput is True because TRUE and TRUE = TRUE
print(a and b)             #Output is False because TRUE and FALSE = FALSE
print(a or a)              #Output is True because TRUE TRUE = TRUE
print(b or b)              #Output is False because FALSE FALSE = FALSE
print(a or b)              #output is True because TRUE or FALSE = TRUE

### 5) Bitwise Operator

In [1]:
# 0 and 1
# 00, 01 , 10 , 11

# Functions

In [2]:
There are two types of Function:
1) User Defined Function
2) Built in Function

'\nThere are two types of Function:\n1) User Defined Function\n2) Built in Function\n'

In [3]:
# 1) Bulit-in functions 

# These functions are already build or programed by python developers and there are total 68 built in functions
# Built-in Fn : int(),sum(),print(),len(),list(),etc

In [5]:
# 2) User Defined Function

def func1():                # Defining a function
    print('This is first user defined fuction')
func1()                     # Calling a function

This is first user defined fuction

In [8]:
def funct(a,b):
    
    return a*b
funct(3,4)

12

In [6]:
#How to take inputs in function
def func2(a,b):
    """This is a function of finding average of two numbers"""       #This is not an comment. This is a docstring
    print("Average of two numbers")
    average = (a+b)/2
    print(average)
    return  average

func2(31,15)       
print(func2.__doc__)

Average of two numbers
23.0
This is a function of finding average of two numbers

## Lambda Function

In [ ]:
# Lambda Function is also caled as Anonymous Functions
# It is a function with noo name

In [4]:
def add(a,b):
    return a+b

add(5,4)

9

In [ ]:
# IF we have a single expression in a function then we can convert it into Lambda Function

In [5]:
# How can we write the lambda function
# Stored in Variable = lambda(key word)  [Variables] : [Operations]
# Variable is called with the inputs

addition = lambda a,b:a+b

In [6]:
addition(10,12)

22

In [7]:
# Example 2
def even(num):
    if num%2==0:
        return True
    
even(20)

True

In [8]:
# Ex 2
even = lambda num : num%2==0

In [9]:
even(10)

True

In [10]:
# Exampple 3:

def add(a,b,c):
    return a+b+c

add(1,2,3)

6

In [11]:
add = lambda a,b,c : a+b+c

In [12]:
add(1,2,3)

6

In [ ]:
# IF WE HAVE ONLY ONE SINGLE FUNCTION    THEN ONLY WE CAN CONVERT INTO INTO LAMBDA FUNTION.

## Iterable VS Iterators

In [13]:
# List is an Iterable 

# here iterating means we are iterating through Memory Allocation because these lst are store in Memory allocation

lst = [1,2,3,4,5,6,7]

for i in lst:
    print(i)

1
2
3
4
5
6
7

In [ ]:
# Inbuit Function: iter()

In [15]:
lst1 = iter(lst)

In [16]:
lst1

In [ ]:
# If we convert list into an Iterator then all the values are not initalized in the memory. To Initalize the values in memory we have to use next() for initailzing the values

In [17]:
next(lst1)

1

In [18]:
next(lst1)

2

In [19]:
next(lst1)

3

In [ ]:
# In case of iter -- The vaues are initalized One By One

## Iterator  And Generator

In [ ]:
## Iterable is perform on the colection

# Iter is executed with the help of iter() keyword

# So The Object or dataset which are Iterable those we can convert it into Iterator and then the next function is able to extarct the dtata one by one.

In [20]:
l = [1,2,3,4,5]
for i in l:
    print(i)
    
# Here we are able to print the output as The list objects  are by default iterable objects.
# Here internally first it will stry to call the iter function and then it call  next function then we ablt to exract the data.

1
2
3
4
5

In [ ]:
## Interview Question 
# How the for loop works:
# --> If objects are iterable ,for loop tries to convert the all the objects into itertar and then it apply the next function on it and then it starts extracting the data.

In [28]:
# How i want to extarct sudh from the string then
s = "rajesh"
next(s)

TypeError: 'str' object is not an iterator

In [29]:
# By default strings are not the iterator objects but they are iterable
# So here 1st step is to convert string into iter and then use the next function
#  this is the example of for loop
s = iter(s)
next(s)

'r'

In [30]:
next(s)

'a'

In [31]:
next(s)

'j'

In [32]:
next(s)

'e'

In [33]:
next(s)

's'

In [34]:
next(s)

'h'

In [35]:
next(s)

StopIteration:

In [27]:
s = "raj"
for i in s:
    print(i)

r
a
j

### Generators

In [37]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
# Write a function to produce the square of  a numbers
# I:4 O: 1,4,9,16

def sq(n):
    x = [i*i for i in range(n)]
    return x

In [39]:
sq(4)

[0, 1, 4, 9]

In [41]:
# Same example performing with Generators

def sq(n):
    x = [i*i for i in range(n)]
    yield x

In [42]:
sq(4)

# Here we are able to generate the data

In [43]:
for i in sq(4):
    print(i)
    
# THIS TYPE OF FUNCTIONS ARE CALLED GENERATORS 
# Generators function are memory effiecent as they save llot of memmory while using the generators
# and in normal function it will return a seq of items but before giving the result and it creates a sequence in memory which take sthe lot of space in memory.

# Generator is basically used when we want to generate the data and not to return the data.

[0, 1, 4, 9]

In [44]:
# Fibonaci Series : It is the sumision of the series of the number in which the addition of previous 2 number is the next number.
#   1 1 2 3 5 8 13 21 34 55..

In [45]:
def fib(n):
    a = 1
    b = 1
    l = []
    for i in range(n):
        l.append(a)
        a,b = b,a+b
    return l

In [46]:
fib(5)

[1, 1, 2, 3, 5]

In [47]:
fib(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [53]:
## Difference:- 

# 1- To create iterator we use iter() keyword  and To create generator we use fuction with yeild keyword
# 2- Generator use the yeild keyword. It saves the local variables value and it can also return the value
# 3- Generator in python helps us to write fast and compact code
# 4- Python iterator is much more memory efficient.

# Exceptional Handling

In [1]:
a = 10
a/0

# Here we got an error we have to learn how to handel this type of error in real time

ZeroDivisionError: division by zero

In [2]:
# Each amd every set or peice code should be wriiten with Exceptional Handling.
# We should always write a code in try and except block.

In [3]:
f = open("raj.txt" , "r")

print("This is my code")

FileNotFoundError: [Errno 2] No such file or directory: 'raj.txt'

In [4]:
# Here is the major problem is that after the error comes its stops all the exceution of other line of code below the Errored Line.
# Now if i have written the 100 lines of code and the error comes in 50th line then the haf of my code wil not execute so to overcome this problem we use Exceptional Handling
# Now to handle this type of error we hve try ,execpt ,finally and catch block

In [5]:
# Handling Eroor

try:
    a = 10
    a/0
except Exception as e:
    print(e)
    print("THis is final message")
    
# Here we can see the error is present but the type of showing error is different and also the remaining lines which are correct are able tp execute

division by zero
THis is final message

In [6]:
try:
    a=10
    a/10
except Exception as e:
    print(e)
    
    
# Here we are not getting any output because there is no error as the code in try block is valid

In [7]:
try:
    f = open("raj.txt" , "r")
except Exception as e:
    print(e)
    
# Here we are getting as error as raj.txt doesnt even exist and we have tried to read it  and we have tried to handel it with the except block.
# Here we will not get any type of compliant just it will tell us that this error is there.

[Errno 2] No such file or directory: 'raj.txt'

In [8]:
f = open("raj.txt" , "r")
f.write("THis is code written in Exceptional Handling file")

FileNotFoundError: [Errno 2] No such file or directory: 'raj.txt'

In [9]:
try:
    f = open("raj.txt" , "r")
    f.write("This is code written in Exceptional Handling file")
except Exception as e:
    print(e)
    
    print("This is 2nd line of code")
    print("This concept is very imp")

[Errno 2] No such file or directory: 'raj.txt'
This is 2nd line of code
This concept is very imp

# File Input Output

In [11]:
# Modes of opening a file

# r : r mode opens a file for read-only. We do not have permission to update or change any data in this mode.

# w : w mode does not concern itself with what is present in the file.
# It just opens a file for writing and if there is already some data present in the file, it overwrites it.

# x : x is used to create a new file. It does not work for an already existing file, as in such cases the operation fails.

# a : a stands for append, which means to add something to the end of the file. It does exactly the same. It just adds the data we like in write(w) mode but instead of overwriting it just adds it to the end of the file.
#It also does not have the permission of reading the file.

# t : t mode is used to open our file in text mode and only proper text files can be opened by it. It deals with the file data as a string.

# b : b stands for binary and this mode can only open the binary files, that are read in bytes.
# The binary files include images, documents, or all other files that require specific software to be read.

# + : In plus mode, we can read and write a file simultaneously. The mode is mostly used in cases where we want to update our file.

In [ ]:
# Now if we want to Read the file:--

f = open("File.txt","r")        #r is default mode Read in text
content = f.read()
print(content)

In [14]:
#Read line function

f = open("File.txt")          #This file should be there in the same folder of code file 
print(f.readline())           #This will only give first line of the content                              #If we print again
print(f.readline())           #It will give second line of the content

In [ ]:
# how to write the content in the text file

f = open("File2.txt", "w")
f.write("Saurabh is smart boy")
f.close()

In [ ]:
#Difference between Write mode and append mode ?

# In write mode program says that write only this content in the txt file but in the
# append mode it keeps the eariler content as it is and add the more content in it